.cart {
  padding: 2rem;
}

.cartInfo {
  display: flex;
  flex-wrap: wrap;
}

.cartInfo span {
  color: var(--grey2);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--indigo);
  font-weight: normal;
}

.table td {
  padding: 1rem 0.5rem;
}

.table td input {
  width: 5rem;
  line-height: 2rem;
}

.table td img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
  margin-top: 2rem;
}

.totalPrice a {
  display: inline-block;
  background-color: var(--indigo);
  color: var(--white);
  padding: 0.7rem 1.6rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.totalPrice table {
  border-top: 3px solid var(--indigo);
  width: 100%;
  max-width: 35rem;
}

.table td:last-child {
  text-align: right;
}

.table th:last-child {
  text-align: right;
}

.quantityControl {
  float: left;
}

.itemQuantity {
  background: #fff;
  font-weight: 500;
  padding: 0;
  text-align: center;
  width: 35px;
  border: 1px solid #f3f4f4;
  border-radius: 0;
  float: left;
}

.quantityButton {
  width: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0;
  float: left;
  background: #f3f4f4;
}

@media (max-width: 567px) {
  .cartInfo p {
    display: none;
  }
}
