.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.btn:disabled ::after {
  content: "";
}

.btn:disabled {
  background: var(--grey2);
  color: #fff;
}
