.cart {
  max-width: 114rem;
  margin: 0 auto;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.cartInfo {
  display: flex;
  flex-wrap: wrap;
}

.cartInfo span {
  color: var(--grey2);
}

.table th {
  text-align: left;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--green);
  font-weight: normal;
}

.table td {
  padding: 1rem 0.5rem;
}

.table td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

.table td a {
  color: var(--green);
}

.table td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
  margin-top: 2rem;
}

.totalPrice a {
  display: inline-block;
  background-color: var(--green);
  color: var(--white);
  padding: 0.7rem 1.6rem;
  font-weight: 700;
  border-radius: 3rem;
}

.totalPrice table {
  border-top: 3px solid var(--green);
  width: 100%;
  max-width: 35rem;
}

.table td:last-child {
  text-align: right;
}

.table th:last-child {
  text-align: right;
}

.qtyClick {
  float: left;
}

.itemQuantity {
  background: #fff;
  font-weight: 500;
  font-size: 15px;
  height: 25px;
  padding: 0;
  text-align: center;
  width: 35px;
  border: 1px solid #f3f4f4;
  border-radius: 0;
  float: left;
}

.qtyBtn {
  /* background: #fff; */
  font-weight: 500;
  font-size: 14px;
  height: 25px;
  padding: 0;
  text-align: center;
  width: 25px;
  border: 1px solid #f3f4f4;
  border-radius: 0;
  float: left;
  -webkit-appearance: none;
  background: #f3f4f4;
}

@media (max-width: 567px) {
  .cartInfo p {
    display: none;
  }
}
