.category .box-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem;
  flex: 1 1 10rem;
  max-width: 50%;
}

.category .box-container .box img {
  max-width: 20rem;
}

.category .box-container .box h3 {
  font-size: 3rem;
  color: var(--black);
}

.category .box-container .box p {
  color: #666;
}

.category .box-container .box .btn {
  display: block;
}
