@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=vietnamese");

@import "header";
@import "footer";
@import "newsletter";
@import "mega-menu";
@import "category";
@import "product";
@import "contact";

:root {
  --green: #27ae60;
  --black: #000;
  --primary: #69ae14;
  --white: #fff;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all 0.1s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  overflow-x: hidden;
}

section {
  padding: 0 5%;
}

.btn {
  margin-top: 1rem;
  background: var(--green) !important;
  color: #fff !important;
  font-size: 1rem !important;
}

.btn:hover {
  background: var(--grey2) !important;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 20rem;
  padding-top: 3rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  font-size: 4rem;
  color: #666;
}

.home .content h3 {
  color: var(--black);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: #333;
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .content {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }
}
