@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=vietnamese");
@import "heading";

:root {
  --green: #27ae60;
  --black: #000;
  --primary: #69ae14;
  --white: #fff;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all 0.1s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  overflow-x: hidden;
}

section {
  padding: 0 5%;
}

.btn {
  margin-top: 1rem;
  background: var(--green) !important;
  color: #fff !important;
  font-size: 1rem !important;
}

.btn:hover {
  background: var(--grey2) !important;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 30rem;
  padding-top: 3rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  font-size: 3rem;
  color: #666;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: #333;
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

.category .box-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: 0.5rem 0;
}

.category .box-container .box h3 {
  font-size: 3rem;
  color: var(--black);
}

.category .box-container .box p {
  font-size: 1rem;
  color: #666;
}

.category .box-container .box .btn {
  display: block;
  font-size: 1rem;
}

.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product .box-container .box {
  flex: 1 1 25rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img {
  height: 20rem;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: 0.5rem;
  right: -6rem;
}

.product .box-container .box:hover .icons {
  right: 1rem;
}

.product .box-container .box .icons a {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1rem;
  color: var(--black);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 0.7rem;
}

.product .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  color: var(--black);
}

.product .box-container .box .stars i {
  padding: 1rem 0.1rem;
  font-size: 1rem;
  color: gold;
}

.product .box-container .box .price,
.price {
  font-size: 1rem;
  color: #333;
  padding: 0;
}

.product .box-container .box .price span,
.price span {
  font-size: 1rem;
  color: #999;
  text-decoration: line-through !important;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.product .box-container .box .quantity span {
  padding: 0 0.7rem;
  font-size: 1rem;
}

.product .box-container .box .quantity input {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: bolder;
  color: var(--black);
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
}

.product .box-container .box .btn {
  display: block;
}

.deal {
  /* background: url(../images/deal-bg.jpg) no-repeat; */
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.deal .content {
  max-width: 50rem;
}

.deal .content .title {
  font-size: 4rem;
  color: var(--black);
}

.deal .content p {
  font-size: 1rem;
  padding: 1rem 0;
  color: #333;
}

.deal .content .count-down {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.deal .content .count-down .box {
  width: 9rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.deal .content .count-down .box h3 {
  color: var(--black);
  background: #fff;
  height: 7rem;
  line-height: 7rem;
  width: 100%;
  font-size: 5rem;
}

.deal .content .count-down .box span {
  display: block;
  background: var(--black);
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
}

.contact form {
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1rem;
  font-size: 1rem;
  background: #f7f7f7;
  text-transform: none;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  width: 49%;
}

.contact form textarea {
  height: 20rem;
  resize: none;
  width: 100%;
}

.newsletter {
  /* background: url(../images/newsletter-bg.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem 2rem;
}

.newsletter h3 {
  font-size: 3rem;
  color: var(--black);
}

.newsletter div {
  max-width: 55rem;
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
}

.newsletter div .box {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #333;
  text-transform: none;
}

.newsletter div .btn {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  margin-top: 0;
}

.footer .box-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box .share a {
  padding: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  margin-right: 5px;
}

.footer .box-container .box h3 {
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 0.7rem 0;
}

.footer .box-container .box .links {
  padding: 1rem 0;
}

.footer .box-container .box .links a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #333;
}

.footer .box-container .box .links a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .credit {
  padding: 0.5rem 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.footer .credit span {
  color: var(--green);
}

/* media queries  */

@media (max-width: 991px) {
  .header-1,
  .header-2 {
    padding: 1rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .deal {
    background-position: left;
  }

  .deal .content {
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down {
    justify-content: center;
  }

  .contact form .inputBox input {
    width: 100%;
  }

  .newsletter h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .logo {
    font-size: 4rem;
  }

  .deal .content .count-down .box h3 {
    font-size: 4rem;
  }

  .deal .content .count-down .box span {
    font-size: 1rem;
  }
}
