header {
  position: relative;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header-top .top-message {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: unset;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 6px;
  position: relative;
  color: #b05d5d;
  background-color: #ffe8e8;
  margin: 0;
  border: 0;
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  margin: 2rem 0;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header-1 {
  background: url("/images/newsletter-bg.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  color: var(--black) !important;
  font-weight: bolder;
  font-size: 3rem;
  text-align: left;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

.search-box-container {
  display: flex;
}

.search-box-container input {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem #0000001a;
  padding: 0.5rem 2rem;
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-2 .navbar a {
  font-size: 1.2rem;
  padding: 10px 0rem;
  margin-right: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.header-2 .navbar a:hover {
  border-bottom: 2px solid var(--green);
  margin-bottom: -2px;
}

.header-2 .icons .link {
  font-size: 1.5rem;
  color: var(--black);
  padding-left: 1rem;
  cursor: pointer;
}

.header-2 .icons .link:hover {
  color: var(--green);
}

#menu-bar {
  border-radius: 0.2rem;
  border: 0.1rem solid var(--black);
  padding: 0.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

@media (max-width: 450px) {
  .header-1 {
    flex-flow: column;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 2rem;
    display: none;
  }
}

@media (max-width: 991px) {
  .header-1 {
    padding: 1rem;
  }
}
