.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  margin: 2rem 0;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header-1 {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
  text-align: left;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

.header-1 .search-box-container {
  display: flex;
  height: 4rem;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.header-1 .search-box-container label {
  height: 100%;
  width: 6rem;
  font-size: 1rem;
  line-height: 4rem;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover {
  background: var(--black);
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  box-shadow: 0 0.5rem 1rem #0000001a;
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-2 .navbar a {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: var(--black);
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons .link {
  font-size: 2rem;
  color: var(--black);
  padding-left: 1rem;
  cursor: pointer;
}

.header-2 .icons .link:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0.5rem 1rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active {
    z-index: 100;
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 1rem;
    display: block;
    text-align: center;
    background: #fff;
    padding: 1rem;
    margin: 1rem 0;
  }
}
